.main {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 60px 0;
  gap: 40px;
}
.text-content {
  text-align: start;
  margin: 0 auto;
}
.title {
font-size: 2.5rem;
font-weight: bold;
margin-bottom: 20px;
}
.text {
font-size: 1.1rem;
margin-bottom: 30px;
line-height: 1.6;
}
.dashboard{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}
.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}
.card_title {
  font-size: 1.3rem;
  margin-bottom: 15px;
}
.card-content {
  font-size: 3rem;
  font-weight: 700;
  color: #de9e36;
}