{% extends 'base.html' %}

{% load static %}

{% block title %}Новая заявка - Сервис ремонта техники{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<div class="form-container">
  <h2>Создать новую заявку</h2>
  <div class="form">
    <form method="post">
      {% csrf_token %}
  
      <h3>Данные клиента</h3>
      {% if client_form.errors %}
      {% for field in client_form %}
          {% for error in field.errors %}
              <li>{{ error }}</li>
          {% endfor %}
      {% endfor %}
      {% for error in client_form.non_field_errors %}
          <li>{{ error }}</li>
      {% endfor %}
      {% endif %}
      <div class="form-item">
        <label for="{{ client_form.last_name.id_for_label }}" class="form-label">{{ client_form.last_name.label }}
        </label>
        {{ client_form.last_name }}
      </div>
      <div class="form-item">
        <label for="{{ client_form.first_name.id_for_label }}" class="form-label">{{ client_form.first_name.label }}
        </label>
        {{ client_form.first_name }}
      </div>
      <div class="form-item">
        <label for="{{ client_form.phone.id_for_label }}" class="form-label">{{ client_form.phone.label }}
        </label>
        {{ client_form.phone }}
      </div>
      <h3>Устройство</h3>
      {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <li>{{ error }}</li>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
      {% endfor %}
      {% endif %}
      <div class="form-item">
        <label for="{{ device_form.type.id_for_label }}" class="form-label">{{ device_form.type.label }}
        </label>
        {{ device_form.type }}
      </div>
      <h3>Проблема</h3>
      {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <li>{{ error }}</li>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
      {% endfor %}
      {% endif %}
      <div class="form-item">
        <label for="{{order_form.description.id_for_label }}" class="form-label">{{ order_form.description.label }}
        </label>
        {{ order_form.description }}
      </div>
  
      <button type="submit">Создать заказ</button>
      <a href="{% url 'home' %}">Отмена</a>
    </form>
  </div>
</div>
{% endblock %}