{% extends 'base.html' %}
{% load static %}
{% block title %}Регистрация в TechCare{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %} 
{% block content%}
<div class="form-container">
    <h2>Регистрация</h2>
    <p>Зарегистрируйтесь, чтобы оставить заявку на ремонт и отслеживать заказы</p>
    <div class="form">
      <form method="post">
        {% csrf_token %}
        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
        {% endfor %}
        {% endif %}
        <div class="form-item">
          <label for="{{ form.username.id_for_label }}" class="form-label">{{ form.username.label }}
          </label>
          {{ form.username }}
        </div>
        <div class="form-item">
          <label for="{{ form.email.id_for_label }}" class="form-label">
            {{ form.email.label }}
          </label>
          {{ form.email }}
        </div>
        <div class="form-item">
        <label for="{{ form.password1.id_for_label }}" class="form-label">
                {{ form.password1.label }}
            </label>
            {{ form.password1 }}
      </div>
        <div class="form-item">
        <label for="{{ form.password2.id_for_label }}" class="form-label">
          {{ form.password2.label }}
        </label>
        {{ form.password2 }}
      </div>
      <button type="submit">Зарегистрироваться</button>
    </form>
    </div>
    <p>Уже есть аккаунт? <a href="{% url 'user_login' %}">Войти</a></p>
</div>
{% endblock %}