{% extends 'base.html' %}
{% load static %}

{% block title %}Склад — Сервис ремонта техники{% endblock %}

{% block navigation %}
    {% include 'nav/nav_administrator.html' %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/tables.css' %}">
{% endblock %}

{% block content %}
<div class="table-container">
  <h2>Склад запчастей</h2>
  {% if parts %}
  <table>
      <thead>
          <tr>
              <th>ID</th>
              <th>Название</th>
              <th>Устройство</th>
              <th>Тип</th>
              <th>Цена</th>
              <th>Количество</th>
              <th>Описание</th>
              <th>Действия</th>
          </tr>
      </thead>
      <tbody>
          {% for part in parts %}
          <tr>
              <td>{{ part.id }}</td>
              <td>{{ part.name }}</td>
              <td>{{ part.device }}</td>
              <td>{{ part.type }}</td>
              <td>{{ part.price }} ₽</td>
              <td>{{ part.quantity }}</td>
              <td>{{ part.description|truncatechars:40 }}</td>
              <td>
                  <a href="{% url 'warehouse_update' part.id %}" class="table_btn">Изменить</a>
              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>

  {% if is_paginated %}
  <div">
      {% if page_obj.has_previous %}
      <a href="?page=1" class="btn">Первая</a>
      <a href="?page={{ page_obj.previous_page_number }}" class="page_btn">Предыдущая</a>
      {% endif %}
      
      <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>
      
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}" class="page_btn">Следующая</a>
      <a href="?page={{ page_obj.paginator.num_pages }}" class="page_btn">Последняя</a>
      {% endif %}
  </div>
  {% endif %}

  {% else %}
    <div class = "no-data">
        <p>Запчастей пока нет.</p>
    </div>
  {% endif %}
    <a href="{% url 'warehouse_add' %}" class="table_button">Добавить запчасть</a>
</div>
{% endblock %}
